name: test model

on:
  workflow_run:
    workflows: ["train"]
    types: [completed]

jobs:
  test_model:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ------------------------------------------------------------------
      # Build Docker test image
      # ------------------------------------------------------------------
      - name: Build test Docker image
        run: docker build -f model/tests/Dockerfile.test -t wine-test:latest .

      # ------------------------------------------------------------------
      # Run pytest inside Docker
      # ------------------------------------------------------------------
      - name: Run tests inside Docker
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.BACKEND_STORE_URI }}
          MODEL_NAME: WinePriceRegressorPipeline
          MODEL_STAGE: ready_to_test
        run: |
          docker run --rm \
            -u 0 \
            -w /home/app \
            -v ${{ github.workspace }}:/home/app \
            -e MLFLOW_TRACKING_URI \
            -e MODEL_NAME \
            -e MODEL_STAGE \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            wine-test:latest \
            pytest tests -v --junitxml=test-results-model.xml

      # ------------------------------------------------------------------
      # Upload test results as artifact
      # ------------------------------------------------------------------
      - name: Upload test results artifact
        uses: actions/upload-artifact@v4
        with:
          name: model-test-results-${{ github.sha }}
          path: test-results-model.xml
          retention-days: 7
               
      
            # ------------------------------------------------------------------
      # Promote to production if tests pass
      # ------------------------------------------------------------------
      - name: Promote MLflow alias to production
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.BACKEND_STORE_URI }}
          MODEL_NAME: WinePriceRegressorPipeline
        run: |
          pip install mlflow

          python3 - << "EOF"
          import mlflow
          import warnings
          warnings.simplefilter(action='ignore', category=FutureWarning)

          client = mlflow.MlflowClient()
          model_name="WinePriceRegressorPipeline"

          print(f'modele : {model_name}')
          v = client.get_model_version_by_alias(model_name, "ready_to_test")
          print(f"L'alias 'ready_to_test' pointe vers la version : {v.version}")
          client.delete_registered_model_alias(model_name, "ready_to_test")
          print("Alias 'ready_to_test' supprimé")
          client.set_registered_model_alias(model_name, "production", v.version)
          print(f"Alias 'production' mis à jour pour pointer vers la version {v.version}")
          print(f"Version {v.version} promoted to production")
          EOF