name: TEST MLflow Model (Docker)

on:
  workflow_run:
    workflows: ["train"]
    types: [completed]

jobs:
  test_model:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ------------------------------------------------------------------
      # Build Docker test image
      # ------------------------------------------------------------------
      - name: Build test Docker image
        run: docker build -f test/Dockerfile.test -t wine-test:latest  .

      # ------------------------------------------------------------------
      # Run pytest inside Docker
      # ------------------------------------------------------------------
      - name: Run tests inside Docker
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.BACKEND_STORE_URI }}
          MODEL_NAME: WinePriceRegressorPipeline
          MODEL_STAGE: ready_to_test
        run: |
          docker run --rm \
            -e MLFLOW_TRACKING_URI \
            -e MODEL_NAME \
            -e MODEL_STAGE \
            wine-test:latest \
            pytest model/tests -v

      # ------------------------------------------------------------------
      # Promote to production if tests pass
      # ------------------------------------------------------------------
      - name: Promote MLflow alias to production
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.BACKEND_STORE_URI }}
          MODEL_NAME: WinePriceRegressorPipeline
        run: |
          pip install mlflow

          python3 - << 'EOF'
          import mlflow

          client = mlflow.MlflowClient()
          model_name = "${MODEL_NAME}"

          v = client.get_model_version_by_alias(model_name, "ready_to_test")
          client.set_registered_model_alias(model_name, "production", v.version)

          print(f"Version {v.version} promoted to production")
          EOF